# ROS2 Build Workspace
ros2_ws/build/
ros2_ws/install/
ros2_ws/log/

# OS/IDE
.vscode/
.DS_Store

# Local Docker environment
.env

# Python
__pycache__/

# Vision 테스트 사진/결과
ros2_ws/src/vision_pkg/test_imgs/
ros2_ws/src/vision_pkg/result/
